{% extends 'todolist/components/base.html' %}
{% block content %}
<body> 
    {% for task in tasks %}
    <section class="container mx-auto py-8">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold mb-4">Task List</h2>
            <ul>
                <li>
                    <strong>{{ task.title }}</strong><br>
                    {{ task.description }}<br>
                    Created: {{ task.created_at }}<br>
                    Updated: {{ task.updated_at }}
                </li>
            </ul>
        </div>
    </section>
    {% empty %}
    <section class="container mx-auto py-8">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold mb-4">Task List</h2>
            <ul>
                <li>No tasks available.</li>
            </ul>
        </div>
    </section>
    {% endfor %}
</body>


{% endblock %}