{% extends 'todolist/components/base.html' %}
{% block content %}

<body class="bg-gray-100">

    <section class="container mx-auto py-8">
        <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold mb-4">classroom</h2>
            <div class="mb-6">
                <div class="bg-gray-200 p-4 rounded-md mb-4">
                    <h3 class="text-lg font-semibold">Chayaporn Kaensar</h3>
                    <p class="text-gray-600">Announcement: Middterm Exam (Aug4,2023) is cancelled
                        But midterm test examination has been postponed until Aug14,2023 (9-12am)@sc242 (Based on computer-based system)</p>
                </div>
                <div class="bg-gray-200 p-4 rounded-md">
                    <h3 class="text-lg font-semibold">Chayaporn Kaensar</h3>
                    <p class="text-gray-600">CRUD Operation</p>
                </div>
            </div>
            <a href="#" class="text-blue-500 hover:underline">View All Posts</a>
        </div>
    </section>
</body>

{% endblock %}